.breadcrumb ol {
    list-style: none;
    padding: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .breadcrumb{
    margin: 0;
  }
  
  .breadcrumb li {
    display: flex;
    align-items: center;
  }
  
  .breadcrumb .separator {
    margin: 0 0.5rem;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #830D35;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb [aria-current="page"] {
    font-weight: 200;
    color: #000000;
    text-transform: uppercase;
  }