.breadcrumb {
  margin-top: 3rem;
}

.breadcrumb ol {
  list-style: none;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.breadcrumb li {
  display: flex;
  align-items: center;
}

.breadcrumb .separator {
  margin: 0 0.5rem;
  color: #999;
}

.breadcrumb a {
  text-decoration: none;
  color: #830D35;
  transition: color 0.2s ease;
}

.breadcrumb a:hover {
  color: #5a0923;
  text-decoration: underline;
}

.breadcrumb [aria-current="page"] {
  font-weight: 400;
  color: #666;
  text-transform: uppercase;
  font-size: 0.875rem;
}

@media (max-width: 950px) {

  .breadcrumb {
    margin-top: 1rem;
    padding-top: 1rem;
  }

}