.footer {
    --footer-height-desktop: 40.25rem;
    --footer-height-mobile: auto;
}

.redSectionFlex {
    display: flex;
    flex-direction: column;
    background-color: #830D35;
    position: relative;
    min-height: var(--footer-height-desktop);
    overflow: hidden;
    z-index: -2;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.linksSection {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.graphicSection {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.graphicSection svg {
    max-height: 100%;
    width: auto;
    z-index: -1;
}

.bottomStrip {
    display: flex;
    font-weight: 500;
    font-size: 1rem;
    flex-direction: row;
    min-height: 4.375rem;
    justify-content: space-between;
    background-color: #EFEFEF;
    align-items: center;
    padding: 0 2rem;
    border-right: 0.063rem solid black;
    border-left: 0.063rem solid black;
    border-bottom: 0.063rem solid black;
    background-color: #EFEFEF;
}

.bottomStrip a {
    text-decoration: none;
    color: black;
}
.linkBox{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 3rem;
}
.linkBox > a{
    text-decoration: none;
    color: white;
    letter-spacing: 0.02rem;
    font-size: 1rem;
}

@media (max-width: 800px) {
    .redSectionFlex {
        height: var(--footer-height-mobile);
    }

    .contentWrapper {
        flex-direction: column;
    }

    .linksSection {
        margin-bottom: 2rem;

    }

    .linkBox{
        z-index: 10;
    }

    .graphicSection {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 0;
    }

    .graphicSection svg {
        height: 100%;
        width: auto;
        max-width: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .contentWrapper{
        z-index: 1;
    }

    .bottomStrip {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(5rem, auto);
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: #830d3400;
        border: none;
        padding: 1rem 2rem;
        z-index: 1;
    }

    .bottomStrip > * {
        grid-column: span 1;
    }

    .bottomStrip > *:last-child:nth-child(odd) {
        grid-column: 1 / -1;
    }

    .bottomStrip a {
        color: white;
    }
}