html {
  scroll-padding-top: 60px;
}

:root {
--font-inter: 'Inter', sans-serif;
--font-jetbrains-mono: 'JetBrains Mono', monospace;
}

body {
  margin: 2rem 1rem 1rem 1rem;
  padding-top: 2rem; /* Default padding for mobile */
  font-family: var(--font-inter);
}

@media screen and (min-width: 800px) {
  body {
      padding-top: 3.5rem;
  }
}
nav p[class*="verticalText"] {
  font-family: var(--font-jetbrains-mono);
}

h1, h2, h3 {
font-family: var(--font-jetbrains-mono);
}
.global-pinklogo {
  pointer-events: none;
}

nav, .nav-item {
  font-family: var(--font-inter);
  letter-spacing: 0.01rem;
}

p {
  font-family: var(--font-inter);
}

code {
  font-family: var(--font-inter);
}

footer{
  width: 100%;
}

.main-content {
  padding-top: 60px;
}