/* Landing scroll styles */
.heroSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1rem;
    border-bottom: 1px solid black;
  }
  
  .contentWrapper {
    flex: 1;
    min-width: 50%;
  }
  
  .headingBox {
    max-width: 35.875rem;
    position: relative;
    padding-bottom: 2rem;
    padding: 1rem;
  }
  
  .headerFlex {
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
    position: relative;
    max-width: 35.813 rem;
    max-height: 208 rem;
  }
  
  .headerFlex>h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 500;
    line-height: clamp(1.5rem, 4vw, 3rem);
    letter-spacing: clamp(-0.1rem, 4vw, -0.25rem);
    color: #363636;
    padding-left: 2rem;
  }
  
  .headingBox>p {
    font-size: clamp(0.5rem, 3vw, 1rem);
    color: #363636;
    margin-bottom: 1rem;
  }
  
  .graphicWrapper {
    margin: 0;
  }
  
  .graphicWrapper>svg {
    max-width: 100%;
  }
  
  .headerFlex>svg:nth-of-type(1) {
    margin-bottom: 1rem;
    transform: rotate(-180deg);
  }
  
  .headerFlex>svg:nth-of-type(2) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  