/* Navbar styles */
.navbar {
  background-color: #EFEFEF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  border-bottom: 0.0625rem solid black;
}

/* Logo container styles */
.logoContainer {
  padding: 2.18rem 0 1.55rem 5.625rem;
}

/* Main menu styles */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.menu li {
  position: relative;
  margin-right: 2rem;
}

.menu a {
  color: black;
  text-decoration: none;

}

/* Dropdown styles */
.dropdown {
  cursor: pointer;
}

.dropdown>a {
  display: inline-block;
  padding-right: 1.5em;
  position: relative;
}

.dropdown>a::after {
  content: '▼';
  font-size: 0.7em;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dropdownMenu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #EFEFEF;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdownMenu li {
  margin: 0;
}

.dropdownMenu a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

.dropdown:hover .dropdownMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdownMenu a:hover {
  background-color: #e0e0e0;
}

/* Menu toggle button styles */
.menuToggle {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
  display: none;
}

/* Sticky navbar styles */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.1250rem 1.5rem 0 rgba(0, 0, 0, 0.15);
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #33333389;
  color: white;
  padding: 1rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.sidebar.open::before {
  opacity: 1;
  pointer-events: auto;
}

/* Sidebar menu styles */
.sidebarMenu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 2rem;
}

.sidebarMenu li {
  padding: 1rem;
}

.sidebarMenu a {
  color: white;
  text-decoration: none;
}

/* Sidebar dropdown menu styles */
.sidebarDropdownMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarDropdownMenu li {
  margin: 0;
}

.sidebarDropdownMenu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

/* Close button styles */
.closeButton {
  background: none;

  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Responsive styles */
@media (max-width: 800px) {

  /* this is the top nav bar on mobile */
  .mobileNavContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background-color: #830D35;
    height: 5rem;
    /* Set a fixed height */
    padding: 0 1.5rem;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  }

  /* Same thing when opened (only for BG colour change) */
  .mobileNavContentOpen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background-color: white;
    border-bottom: 0.0625rem solid black;
    height: 5rem;
    /* Set a fixed height */
    padding: 0 1.5rem;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  }

  .navbar {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
  }

  .mobileLogo {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .menuToggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
  }

  /* this is for the list items when the drawer is opened */
  .mobileMenu {
    display: none;
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow-y: auto;  
  }

  /* this is the bottom empty section in the mobile drawer under the menu list items */
  .navbar.expanded .mobileMenu {
    display: block;
    background-color: #830D35;
  }

  .verticalText {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    font-family: 'JetBrains Mono';
    color: #EFEFEF;
    position: absolute;
    bottom: 1rem;
    margin-left: 1rem;
    font-size: 2.439rem;
    letter-spacing: -0.241rem;
    font-weight: 400;
  }

  .pinkLogo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: 30%;
    z-index: -1;
  }

  .mobileMenuList {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
  }

  .mobileMenuList li:not(:last-child) .mobileMenuLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-top: 0.0625rem solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
    height: 6.025rem;
    border-bottom: 0.0625rem solid #000000;
    background-color: #EFEFEF;
  }

  .mobileMenuList li:not(:last-child) .mobileMenuLink:hover {
    background-color: white;
  }
  

  .mobileMenuList li:nth-last-child(2) {
    /* removes the bottom border for the last but one menu item */
    border-bottom: none;
  }

  /* Styling for the last child (Contact) in the mobile menu */
  .mobileMenuList a {
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
  }

  .mobileMenuList li:not(:last-child) a {
    color: #000000;
  }

  .mobileMenuList a:last-child {
    color: white;
  }

  .mobileMenuList li:last-child {
    background-color: transparent;
    border-bottom: none;
    border: 0.0625rem solid white;
    height: auto;
    padding: 1rem;
    margin: 1rem auto;
    width: 11.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Hide desktop menu on mobile */
  .menu {
    display: none;
  }
}