.heroSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 1rem;
  border-bottom: 1px solid black;
}

.contentWrapper {
  flex: 1;
}

.headingBox {
  max-width: 35.875rem;
  position: relative;
  padding-bottom: 2rem;
  padding: 1rem;
}

.headingBox > h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: -4px;
  color: #363636;
}

.headingBox > p {
  font-size: 1rem;
  color: #363636;
  margin-bottom: 1rem;
}
.graphicWrapper {
  margin:0;
}

.topViewfinder {
  margin-bottom: 1rem;
}