.section {
    margin: 1rem 0;
    position: relative;
}

.section::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100vw;
    height: 0.0625rem; /* 1px = 0.0625rem */
    background-color: black;
}

.titleSec {
    border-bottom: 0.0625rem solid black;
    padding: 0;
}

.companyTableContainer {
    display: flex;
    padding: 0 2rem;
    font-family: Arial, sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    padding-right: 2rem;
    padding-top: 2rem;
}

.sidebarText {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.companyTable {
    width: 75%;
    border-collapse: collapse;
    border-spacing: 0.0625rem; /* 1px = 0.0625rem */
    border-left: 0.0625rem solid black;
    height: 25rem; /* 40rem (rem to rem) */
}

.companyCell {
    background-color: #efefef;
    border-right: 0.0625rem solid black;
    border-bottom: 0.0625rem solid black;
    padding: 0;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 20%;
    height: 18.75rem; /* 300px = 18.75rem */
}

.companyContent {
    padding: 1rem;
    height: 100%;
    position: relative;
}

.imagePlaceholder {
    position: absolute;
    bottom: 1rem; /* 1px = 0.0625rem */
    left: 1rem;
    right: 1rem;
    height: 5rem; /* 80px = 5rem */
    background-color: black;
}

.companyNumber h2 {
    font-size: 2rem;
    color: #888;
    font-weight: 400;
    margin: 0;
    transition: color 0.3s ease; /* Added transition for smooth color change */
}

.companyCell:hover .companyNumber h2 {
    color: black; /* Change color to black on hover */
}

.companyTitle {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    color: black;
}

.companyCell:hover .companyTitle  {
    color: #830D35;
}

.companyCategory {
    font-size: 0.8rem;
    color: #666;
    text-transform: uppercase;
    margin: 0;
}

.companyOneLiner {
    font-size: 0.9rem;
    color: #333;
    margin-top: 0.5rem;
    display: block;
    opacity: 0;
    transition: opacity 1.5s ease; /* Added transition for opacity */
}

.companyCell:hover .companyOneLiner {
    opacity: 1;
}

.companyCell {
    background-color: #efefef;
    border-right: 0.0625rem solid black;
    border-bottom: 0.0625rem solid black;
    padding: 0;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 20%;
    transition: width 0.5s ease, background-color 0.3s ease;
}

.companyCell:hover {
    width: 50%;
    background-color: white;
}

@media (max-width: 1000px) { /* 1200px = 75rem */
    .companyTableContainer {
        flex-direction: column;
    }

    .sidebar, .companyTable {
        width: 100%;
    }

    .sidebar {
        margin-bottom: 2rem;
        padding-top: 0;
    }

    .companyTable {
        border-top: 0.0625rem solid black;
        border-bottom: 0.0625rem solid black;
    }
}