.section {
    margin: 0;
    position: relative;
}

.section::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100vw;
    height: 0.0625rem;
    background-color: black;
}

.titleSec {
    border-bottom: 0.0625rem solid black;
    padding: 0;
}
.titleSecFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.titleSecFlex>p{
    max-width: 50%;
    margin: 1rem;
}
.companyLink {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.companyCell {
  cursor: pointer;
}

.companyTableContainer {
    display: flex;
    padding: 0 2rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    padding-right: 2rem;
    padding-top: 2rem;
}

.sidebarText {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.companyTable {
    width: 75%;
    border-collapse: collapse;
    border-spacing: 0.0625rem;
    /* 1px = 0.0625rem */
    border-left: 0.0625rem solid black;
    height: 25rem;
    border-top: 1px solid black;
    /* 40rem (rem to rem) */
}

.companyCell {
    background-color: #efefef;
    border-right: 0.0625rem solid black;
    border-bottom: 0.0625rem solid black;
    padding: 0;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 20%;
    height: 21rem;
    transition: width 0.5s ease, background-color 0.3s ease;
}
.companyCell:hover {
    width: 50%;
    background-color: white;
}

.companyContent {
    padding: 1rem;
    height: 100%;
    position: relative;
    z-index: 2;
    background-color: white;
    transition: background-color 0.3s ease;
}

.imagePlaceholder {
    position: absolute;
    bottom: 3rem;
    left: 1rem;
    right: 1rem;
    height: 5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagePlaceholder img {
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
    object-fit: contain;
}

.companyNumber h2 {
    font-size: 2rem;
    color: #888;
    font-weight: 400;
    margin: 0;
    transition: color 0.3s ease;
    /* Added transition for smooth color change */
}

.companyCell:hover .companyNumber h2 {
    color: #efefef;
}

.companyTitle {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    color: black;
}

.companyCell:hover .companyTitle {
    color: #830D35;
}

.companyCategory {
    font-size: 0.8rem;
    color: #666;
    text-transform: uppercase;
    margin: 0;
}
.companyCell:hover .companyNumber h2,
.companyCell:hover .companyTitle,
.companyCell:hover .companyCategory,
.companyCell:hover .companyOneLiner {
    color: white !important;
    transition: color 0.3s ease;
}

.companyOneLiner {
    font-size: 0.9rem;
    color: #333;
    margin-top: 0.5rem;
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.companyCell {
    background-color: #efefef;
    border-right: 0.0625rem solid black;
    border-bottom: 0.0625rem solid black;
    padding: 0;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 20%;
    transition: width 0.5s ease, background-color 0.3s ease;
}




/* Ensure the vector is hidden by default */
.vector {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #830D35;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    transform: translateY(100%);
}

/* Show the vector on hover */
.companyCell:hover .vector {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Hide the image on hover */
.companyCell:hover .imagePlaceholder {
    display: none; /* Image disappears on hover */
    transition: all 1s ease;
}

/* Styling for the vector SVG */
.vector > svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.5s ease;
}
.companyCell:hover .vector > svg {
    transform: scale(1.2);
}
.companyNumber,
.companyTitle,
.companyCategory,
.companyOneLiner {
    position: relative;
    z-index: 2;
}
.companyCell:hover .imagePlaceholder {
    display: none;
    transition: all 0.5s ease;
}

.mobileCompanyCardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}
  
  
  

@media (max-width: 1028px) {

    /* 1200px = 75rem */
    .companyTableContainer {
        flex-direction: column;
    }
    .titleSecFlex{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .titleSecFlex > *:not(:last-child) {
        width: 100%;
    }

    .sidebar,
    .companyTable {
        width: 100%;
    }

    .sidebar {
        margin-bottom: 2rem;
        padding-top: 0;
    }

    .companyTable {
        border-top: 0.0625rem solid black;
        border-bottom: 0.0625rem solid black;
    }
}

@media (max-width: 900px) {
    .titleSec {
        border-bottom: none;
    }}
/* mobile styling for the cards */
@media (max-width: 900px) {
    .mobileCompanyGrid {
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobileVector {
        width: 100%;
        height: 200px; /* Adjust as needed */
        background-color: #830D35; /* Maroon background color */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;
        position: relative;
    }

    .mobileVector svg {
        scale: (1.1);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    /* Style the SVG paths to be light */
  

    .keyDetails {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding: 1rem 0; /* Remove padding */
        margin: 0;
    }
    .keyDetails p:last-of-type {
        align-self: center;
        font-size: 0.8rem;
        color:#666;
    }

    .sidebarText{
        font-size: .9rem;
        margin-bottom: 2rem;
        max-width: 70%;
    }

    .carouselContainer {
        position: relative;
        height: 26.25rem; /* Adjusted to match the card height */
        margin-bottom: 2rem;
        width: 100%;
        max-width: 280px; /* Adjusted to match the card width */
        padding-bottom: 2rem;
    }

    .mobileCompanyCard {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 17rem; /* Fixed width */
        height: 30rem; /* Fixed height */
        background-color: white;
        border: 1px solid #000;
        padding: 1rem;
        transition: all 0.3s ease;
        cursor: pointer;
        box-sizing: border-box;
    }
    .mobileCompanyCard:not(.activeCard):hover {
        transform: translateX(-5px) !important;
    }

    .mobileCompanyCard > p {
        margin-top: auto; /* Push to the bottom */
        padding-top: 3rem; /* Space from content above */
        text-align: center;
        margin-bottom: 0;
        font-size: .8rem;
        color: #888;
    }
    .cardHeader {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin-bottom: 0; /* Remove bottom margin */
    }

    .companyNumber > h2 {
        color: #000;
        margin-right: 1rem;
        font-size: 3rem;
        margin-bottom: 0; /* Remove bottom margin */
        line-height: 1; 
    }
    .totalCount > h3 {
        color: #888;
        margin-right: 1rem;
        font-size: 1.1rem;
        font-weight: 200;
        margin-bottom: 0; 
    }

    .companyNumber {
        font-weight: bold;
        color: #000;
    }

    .companyTitle {
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: capitalize;
        color: #830D35;
        margin: 0; 
        padding-top: 0.2rem; 
    }

    .companyCategory {
        font-size: 0.9rem;
        color: #830D35;
        text-transform: uppercase;
        margin-top: 0.6rem;
    }

    .mobileImagePlaceholder {
        width: 100%;
        height: auto; /* Adjusted to maintain aspect ratio */
        aspect-ratio: 16 / 9;
        background-color: #830D35;
        margin-top: 0.5rem;
    }

    .mobileCompanyGrid > button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border: 1px solid #000;
        background-color: transparent;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .mobileCompanyGrid > button:hover {
        background-color: #000;
        color: #fff;
    }
}
