.sectionBG{
    margin: 1rem;
    background-color: #830D35;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionBG > svg{
    height: 100%;
    justify-self: center;
}

.headerFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
    max-width: 50%;
    padding: 2rem;
  }
  .headerFlex>h1 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: clamp(-0.1rem, 4vw, -0.25rem);
    color: white;
    margin-left: 2rem;
    top: 0;
    max-width: 90%;
    max-height: 70%;
    top: 345px;
    left: 60px;
    gap: 0px;
  }
  .headerFlex>svg:first-child {
    align-self: flex-start;
    transform: rotate(-180deg);
  }
  .headerFlex>svg:last-child {
    align-self: flex-end;
  }
  .headerFlex>svg path,
  .headerFlex>svg rect,
  .headerFlex>svg circle {
    fill: white;
  }