.sectionBG {
  margin: 1rem;
  background-color: #830D35;
  position: relative;
  height: 80vh;
  overflow: visible;
  transition: height 0.3s ease-out;
  padding-bottom: 1rem;
}

.sectionBG::after {
  content: '';
  position: absolute;
  left: -100vw; /* Extend to the left edge of the screen */
  right: -100vw; /* Extend to the right edge of the screen */
  bottom: -1rem; /* Position it 1rem below the container */
  height: 1px; /* Increased thickness for visibility */
  background-color: #000; /* Ensure this contrasts with your background */
  z-index: 10; /* Increased to ensure it's above other elements */
}

.sectionBG.expanded {
  height: calc(80vh + 2rem + var(--header-height));
}

.backgroundSVG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.backgroundSVG > svg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns children to the bottom */
  padding-bottom: 2rem; /* Add some padding at the bottom */
}

.headerWrapper {
  position: relative; /* Changed from absolute */
  transition: transform 0.3s ease-out, top 0.3s ease-out;
}

.headerWrapper.bottomPosition {
  top: auto; /* Remove top positioning */
  transform: none;
}

.bodyText {
  color: white;
  max-width: 40%;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  align-self: flex-end; /* Align to the right */
  margin-right: 5%; /* Right margin */
}

.bodyText.visible {
  opacity: 1;
  transform: translateY(0);
}

.bodyText p {
  margin-bottom: 1rem;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  line-height: 1.5;
  background-color: #830D35;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.bodyText.visible p {
  opacity: 1;
  transform: translateY(0);
}

.bodyText p:nth-child(2) {
  transition-delay: 0.2s; /* Delay the second paragraph's animation */
}

@media (max-width: 800px) {
  .bodyText {
    max-width: 90%;
    right: 5%;
    left: 5%;
  }

  .backgroundSVG > svg {

    min-width: unset;
    height: 100%;
    min-height:max-content;
    align-self: center;
    transform: translate(-50%, -50%) scale(0.9); /* Adjust scale as needed */
  }
}